@import "tailwindcss";

:root {
  --background: #ffffff;
}

/* @theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: var(--font-geist-sans);
  letter-spacing: 0.05rem;
}

/* 40rem = 640px = sm */

.title-2 {
  @media (width >= 40rem) {
    font-size: 5.5rem;   
  };
  
  @media (width < 40rem) {
    font-size: 3rem;
  };
}

.titleBox {
  @media (width >= 40rem) {
    height: 6rem;   
    padding-left: 3.5rem;
  };
  
  @media (width < 40rem) {
    height: 3.5rem;
    padding-left: 2.75rem;
  };
}

.content {
  font-family: var(--font-inter);
}

.sidePadding {
  @media (width >= 40rem) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  };
  
  @media (width < 40rem) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  };
}

.sectionWrapper {
  @media (width >= 40rem) {
    margin: 6rem 0;
  }

  @media (width < 40rem) {
    margin: 5rem 0;
  }
}

.scrollWrapper {
  scroll-snap-type: inline mandatory;

  @media (width >= 48rem) {
    scroll-padding-inline: 2.5rem;
  };

  @media (width < 48rem) {
    scroll-padding-inline: 1.5rem;
  };
}

.scrollWrapper > * {
  scroll-snap-align: start;
}

.socialLinks:hover {
  color: #faf202;
}