@import "tailwindcss";

/* Dark mode based on class */
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: var(--color-baseLight);
}

@theme {
  --color-primary: #00BF99;
  --color-baseLight: #FFFFFF;
  --color-baseDark: #1E1E1E;
  --color-blue: #00B0D8;
  --color-purple: #8924F4;
  --color-tosca: #00BF73;
  --color-hoverYellow: #FAF202;
}

body {
  background: var(--color-baseLight);
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-family: var(--font-geist-sans);
  letter-spacing: 0.05rem;
}

/* 40rem = 640px = sm */

.title-2 {
  @media (width >= 40rem) {
    font-size: 5.5rem;   
  };
  
  @media (width < 40rem) {
    font-size: 3rem;
  };
}

.titleBox {
  @media (width >= 40rem) {
    height: 6rem;   
    padding-left: 3.5rem;
  };
  
  @media (width < 40rem) {
    height: 3.5rem;
    padding-left: 2.75rem;
  };
}

.content {
  font-family: var(--font-inter);
}

.sidePadding {
  @media (width >= 40rem) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  };
  
  @media (width < 40rem) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  };
}

.sectionWrapper {
  @media (width >= 40rem) {
    margin: 6rem 0;
  }

  @media (width < 40rem) {
    margin: 5rem 0;
  }
}

.scrollWrapper {
  scroll-snap-type: inline mandatory;

  @media (width >= 48rem) {
    scroll-padding-inline: 2.5rem;
  };

  @media (width < 48rem) {
    scroll-padding-inline: 1.5rem;
  };
}

.scrollWrapper::-webkit-scrollbar {
  display: none;
}

.scrollWrapper > * {
  scroll-snap-align: start;
}

.socialLinks:hover {
  color: var(--color-hoverYellow);
}

.contentToggleLight {
  @apply text-baseDark dark:text-baseLight
}

.titleToggleLight {
  @apply text-baseLight dark:text-baseDark
}

.bgToggleLight {
  @apply bg-baseLight dark:bg-baseDark
}

.linear-bg {
  background: linear-gradient(
    to bottom, #00BF99FF, #00BF9900
  );
}